<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PublicOrders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add connectionString="Server=PCR\SQLEXPRESS;Database=PublicOrders_Docs_wpf;Integrated Security=true" name="PublicOrdersDocsConnection" providerName="System.Data.SqlClient" />
    <add connectionString="Server=PCR\SQLEXPRESS;Database=PublicOrders_Winners_wpf;Integrated Security=true" name="PublicOrdersWinnersConnection" providerName="System.Data.SqlClient" />-->
    <add connectionString="Server=WIN-R82S5UEK2QK\SQLEXPRESS;Database=PublicOrders_Docs_wpf;Integrated Security=true" name="PublicOrdersDocsConnection" providerName="System.Data.SqlClient" />
    <add connectionString="Server=WIN-R82S5UEK2QK\SQLEXPRESS;Database=PublicOrders_Winners_wpf;Integrated Security=true" name="PublicOrdersWinnersConnection" providerName="System.Data.SqlClient" />
    <!--<add connectionString="Server=DESKTOP-RCL440N;Database=PublicOrders_Docs_wpf;Integrated Security=true" name="PublicOrdersDocsConnection" providerName="System.Data.SqlClient" />
    <add connectionString="Server=DESKTOP-RCL440N;Database=PublicOrders_Winners_wpf;Integrated Security=true" name="PublicOrdersWinnersConnection" providerName="System.Data.SqlClient" />-->
    <!--<add connectionString="Server=PCR\SQLEXPRESS;Database=PublicOrders_Docs_wpf;Integrated Security=true" name="PublicOrdersDocsConnection" providerName="System.Data.SqlClient" />
    <add connectionString="Server=PCR\SQLEXPRESS;Database=PublicOrders_Winners_wpf;Integrated Security=true" name="PublicOrdersWinnersConnection" providerName="System.Data.SqlClient" />--><!--
    <add connectionString="Server=LX\SQLEXPRESS;Database=PublicOrders_Docs_wpf;Integrated Security=true" name="PublicOrdersDocsConnection" providerName="System.Data.SqlClient" />
    <add connectionString="Server=LX\SQLEXPRESS;Database=PublicOrders_Winners_wpf;Integrated Security=true" name="PublicOrdersWinnersConnection" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <PublicOrders.Properties.Settings>
      <setting name="MinPrice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxPrice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CustomerCity" serializeAs="String">
        <value />
      </setting>
      <setting name="MinPublicDate" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxPublicDate" serializeAs="String">
        <value />
      </setting>
      <setting name="LawType" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomerType" serializeAs="String">
        <value />
      </setting>
    </PublicOrders.Properties.Settings>
  </userSettings>
</configuration>